openapi: 3.0.0
info:
  title: DealPoint Public API
  description: Public API allowing access to DealPoint.
  contact:
    name: Roelof Hoogenberg
    email: Roelof@bxfin.com
  version: 0.1.0
servers:
- url: https://api.bxfin.com/api/v0.1
  description: Optional server description, e.g. Main (production) server
- url: https://staging-api.example.com/api/v0.1
  description: Optional server description, e.g. Internal staging server for testing
security:
- BasicAuth: []
- ApiKeyAuth: []
paths:
  /relationship:
    get:
      tags:
      - Relationship
      summary: Retrieve all relationships the actor is allowed to view in DealPoint
      operationId: getRelationships
      parameters:
      - name: relationshipId
        in: query
        description: relationship identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: outerCustomerId
        in: query
        description: Customer id as externally known
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: relationshipName
        in: query
        description: (part of the) name of the relationship (client)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: status
        in: query
        description: 'Status of the relationship [todo: conver to enum]'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip before starting to collect the result
          set.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return.
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: sorting order of the result set
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: outerRelationshipId
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Overview of relationships the actor is allowed to view
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationshipList'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
    post:
      tags:
      - Relationship
      summary: Adds a new relationship to DealPoint.
      operationId: createRelationship
      parameters:
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/relationship'
        required: true
      responses:
        "201":
          description: relationship id (key)
          headers:
            entityId:
              $ref: '#/components/schemas/entityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /relationship/{id}:
    get:
      tags:
      - Relationship
      summary: Retrieve a specific relationship the actor is allowed to view from
        DealPoint.
      operationId: getRelationship
      parameters:
      - name: id
        in: path
        description: relationship identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: relationship details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationshipDetails'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: relationship-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
    delete:
      tags:
      - Relationship
      summary: Deletes the relationship from the system.
      operationId: deleteRelationship
      parameters:
      - name: id
        in: path
        description: relationship identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: No content
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: Relationship-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
    patch:
      tags:
      - Relationship
      summary: Updates the relationship with new values.
      operationId: updateRelationship
      parameters:
      - name: id
        in: path
        description: relationship identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/relationship'
        required: true
      responses:
        "204":
          description: relationship id (key)
          headers:
            entityId:
              $ref: '#/components/schemas/entityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: Relationship-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /relationship/{id}/profitability:
    get:
      tags:
      - Relationship
      summary: Retrieves Relationship profitability. If required, (Re)Calculate Relationship
        profitability
      operationId: getRelationshipProfitability
      parameters:
      - name: id
        in: path
        description: relationship identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: relationship details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationshipProfitability'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: relationship-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /deal:
    get:
      tags:
      - Deal
      summary: Retrieve all deals the actor is allowed to view in DealPoint
      operationId: getDeals
      parameters:
      - name: relationshipId
        in: query
        description: relationship identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: outerCustomerId
        in: query
        description: Client relationship identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: customerName
        in: query
        description: (part of the) name of the relationship
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: status
        in: query
        description: 'Status of the deal [todo: conver to enum]'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip before starting to collect the result
          set.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return.
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: sorting order of the result set
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: outerDealId
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Overview of deals the actor is allowed to view
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dealList'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
    post:
      tags:
      - Deal
      summary: Adds a new  Deal to the relationship in  DealPoint. A Deal consist
        of the deal, one or more products and the relationship.
      operationId: createDeal
      parameters:
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deal'
        required: true
      responses:
        "201":
          description: Deal id (key)
          headers:
            entityId:
              $ref: '#/components/schemas/entityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /deal/{id}:
    get:
      tags:
      - Deal
      summary: Retrieve a specific deal the actor is allowed to view from DealPoint.
        A Deal consist of one or more products, a deal-team and the relationship.
      operationId: getDeal
      parameters:
      - name: id
        in: path
        description: Deal identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Deal details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dealDetails'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: dealId not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
    delete:
      tags:
      - Deal
      summary: Deletes the deal from the system.
      operationId: deleteDeal
      parameters:
      - name: id
        in: path
        description: deal identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: No content
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: dealId not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
    patch:
      tags:
      - Deal
      summary: Updates the deal with new values.
      operationId: updateDeal
      parameters:
      - name: id
        in: path
        description: Deal identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deal'
        required: true
      responses:
        "204":
          description: Deal id (key)
          headers:
            entityId:
              $ref: '#/components/schemas/entityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: dealId not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /deal/{id}/profitability:
    get:
      tags:
      - Deal
      summary: Retrieves Deal profitability. If required, (Re)Calculate Deal profitability
      operationId: getDealProfitability
      parameters:
      - name: id
        in: path
        description: deal identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Deal profitability and regulatory capital requirements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dealProfitability'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: dealId not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /deal/{id}/workflow:
    get:
      tags:
      - Deal
      summary: Overview of deal states and dealState workflow (deal creation, Draft,
        etc.)
      operationId: getDealWorkflow
      parameters:
      - name: id
        in: path
        description: deal identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Deal approval workflow (overview and current status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dealWorkflow'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: dealId not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /deal/{id}/approval/workflow:
    get:
      tags:
      - Deal
      summary: 'Overview of Approval levels (AWF), their states, the approver groups
        per level. Fore each approver group the selected approvers and their approve
        state is returnd. '
      operationId: getApprovalWorkflow
      parameters:
      - name: id
        in: path
        description: deal identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Deal approval workflow (overview and current status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/approvalDetails'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: dealId not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
    post:
      tags:
      - Deal
      summary: Approval setup per level and approval groups a list of approvers
      operationId: approvalSetup
      parameters:
      - name: id
        in: path
        description: deal identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/approvalSetup'
        required: true
      responses:
        "201":
          description: Deal id (key)
          headers:
            entityId:
              $ref: '#/components/schemas/entityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /deal/{dealId}/approval/approvalgroup/{approvalGroupId}/approvers:
    get:
      tags:
      - Deal
      summary: 'list of potential approvers for the deal and approval-group at hand. '
      operationId: getApproversList
      parameters:
      - name: dealId
        in: path
        description: deal identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: approvalGroupId
        in: path
        description: approval group identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Deal approval workflow (overview and current status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/approversList'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: dealId not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /deal/{id}/action:
    post:
      tags:
      - Deal
      summary: Performs action to set dealState to new value. Activated by DRAFT,
        NPW, etc. buttons
      operationId: postDealAction
      parameters:
      - name: id
        in: path
        description: deal identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dealAction'
        required: true
      responses:
        "201":
          description: Deal id (key)
          headers:
            entityId:
              $ref: '#/components/schemas/entityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /deal/{id}/approval/action:
    post:
      tags:
      - Deal
      summary: Performs action to set levelApprovalState to new value. Only used for
        power users.
      operationId: postApprovalAction
      parameters:
      - name: id
        in: path
        description: deal identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/approvalLevelAction'
        required: true
      responses:
        "201":
          description: Deal id (key)
          headers:
            entityId:
              $ref: '#/components/schemas/entityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /scenario:
    get:
      tags:
      - Scenario
      summary: Retrieve all Scenarios the actor is allowed to view in DealPoint
      operationId: getScenarios
      parameters:
      - name: dealId
        in: query
        description: deal identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: relationshipName
        in: query
        description: (part of the) name of the relationship
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: status
        in: query
        description: 'Status of the scenario [todo: conver to enum]'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip before starting to collect the result
          set.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return.
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: sorting order of the result set
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: outerDealId
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Overview of scenarios the actor is allowed to view
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scenarioList'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
    post:
      tags:
      - Scenario
      summary: 'Adds a new Scenario to the deal in DealPoint. '
      operationId: createScenario
      parameters:
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/scenario'
        required: true
      responses:
        "201":
          description: Deal id (key)
          headers:
            entityId:
              $ref: '#/components/schemas/entityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /scenario/{id}:
    get:
      tags:
      - Scenario
      summary: Retrieve a specific scenario the actor is allowed to view from DealPoint.
      operationId: getScenario
      parameters:
      - name: id
        in: path
        description: Scenario identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Scenario details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scenarioDetails'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: Scenario-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
    delete:
      tags:
      - Scenario
      summary: Deletes the Scenario from the system.
      operationId: deleteScenario
      parameters:
      - name: id
        in: path
        description: Scenario identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: No content
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: Scenario-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
    patch:
      tags:
      - Scenario
      summary: Updates the Scenario with new values.
      operationId: updateScenario
      parameters:
      - name: id
        in: path
        description: Scenario identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/scenario'
        required: true
      responses:
        "204":
          description: Scenario id (key)
          headers:
            entityId:
              $ref: '#/components/schemas/entityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: dealId not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /scenario/{id}/profitability:
    get:
      tags:
      - Scenario
      summary: Retrieves Scenario profitability. If required, (Re)Calculate Scenario
        profitability
      operationId: getScenarioProfitability
      parameters:
      - name: id
        in: path
        description: scenario identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Scenario profitability and regulatory capital requirements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scenarioProfitability'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: scenario-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /counterparty:
    get:
      tags:
      - counterparty
      summary: Retrieve all counterparties the actor is allowed to view in DealPoint
      operationId: getCounterparties
      parameters:
      - name: scenarioId
        in: query
        description: Scenario identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: dealId
        in: query
        description: Deal identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: counterpartyId
        in: query
        description: relationship identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: outerCustomerId
        in: query
        description: Customer id as externally known
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: counterpartyName
        in: query
        description: (part of the) name of the counterparty (client)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: status
        in: query
        description: 'Status of the counterparty [todo: conver to enum]'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip before starting to collect the result
          set.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return.
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: sorting order of the result set
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: outerRelationshipId
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Overview of counterparties the actor is allowed to view
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/counterpartyList'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
    post:
      tags:
      - counterparty
      summary: 'Adds a new counterparty to DealPoint. '
      operationId: createcounterparty
      parameters:
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/counterparty'
        required: true
      responses:
        "201":
          description: counterparty id (key)
          headers:
            entityId:
              $ref: '#/components/schemas/entityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /counterparty/{id}:
    get:
      tags:
      - counterparty
      summary: Retrieve a specific counterparty the actor is allowed to view from
        DealPoint.
      operationId: getcounterparty
      parameters:
      - name: id
        in: path
        description: counterparty identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: counterparty details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/counterpartyDetails'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: counterparty-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
    delete:
      tags:
      - counterparty
      summary: Deletes the relationship from the system.
      operationId: deletecounterparty
      parameters:
      - name: id
        in: path
        description: counterparty identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: No content
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: counterparty-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
    patch:
      tags:
      - counterparty
      summary: Updates the relationship with new values.
      operationId: updatecounterparty
      parameters:
      - name: id
        in: path
        description: counterparty identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/counterparty'
        required: true
      responses:
        "204":
          description: relationship id (key)
          headers:
            entityId:
              $ref: '#/components/schemas/entityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: counterparty-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /counterparty/{id}/profitability:
    get:
      tags:
      - counterparty
      summary: Retrieves counterparty profitability. If required, (Re)Calculate counterparty
        profitability
      operationId: getcounterpartyProfitability
      parameters:
      - name: id
        in: path
        description: counterparty identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Scenario profitability and regulatory capital requirements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/counterpartyProfitability'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: counterparty-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /product:
    get:
      tags:
      - Product
      summary: Retrieve all products the actor is allowed to view in DealPoint
      operationId: getProducts
      parameters:
      - name: scenarioId
        in: query
        description: Scenario identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: dealId
        in: query
        description: Deal identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: counterpartyId
        in: query
        description: relationship identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: outerCustomerId
        in: query
        description: Customer id as externally known
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: counterpartyName
        in: query
        description: (part of the) name of the counterparty (client)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: status
        in: query
        description: 'Status of the product [todo: conver to enum]'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip before starting to collect the result
          set.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return.
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: sorting order of the result set
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: outerRelationshipId
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Overview of products the actor is allowed to view
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productList'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
    post:
      tags:
      - Product
      summary: 'Adds a new product to DealPoint. '
      operationId: createProduct
      parameters:
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product'
        required: true
      responses:
        "201":
          description: product id (key)
          headers:
            entityId:
              $ref: '#/components/schemas/entityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /product/{id}:
    get:
      tags:
      - Product
      summary: Retrieve a specific product the actor is allowed to view from DealPoint.
      operationId: getProduct
      parameters:
      - name: id
        in: path
        description: product identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productDetails'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: product-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
    delete:
      tags:
      - Product
      summary: Deletes the product from the system.
      operationId: deleteProduct
      parameters:
      - name: id
        in: path
        description: product identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: No content
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: product-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
    patch:
      tags:
      - Product
      summary: Updates the relationship with new values.
      operationId: updateproduct
      parameters:
      - name: id
        in: path
        description: product identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product'
        required: true
      responses:
        "204":
          description: product id (key)
          headers:
            entityId:
              $ref: '#/components/schemas/entityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: product-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /product/{id}/profitability:
    get:
      tags:
      - Product
      summary: Retrieves Product profitability. If required, (Re)Calculate Product
        profitability
      operationId: getProductProfitability
      parameters:
      - name: id
        in: path
        description: product identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Scenario profitability and regulatory capital requirements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productProfitability'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: product-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /usercontext:
    get:
      tags:
      - User
      summary: Based on userName, email, phoneNumber or external context id,  the
        UserId is retrieved from DealPoint (exact match search)
      operationId: getUserContext
      parameters:
      - name: userName
        in: query
        description: (part of the) name of the user
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: email
        in: query
        description: email the user
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: phoneNumber
        in: query
        description: phoneNumber of the user
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: user details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userContext'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: User not found
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
  /user:
    get:
      tags:
      - User
      summary: Retrieve all users the actor is allowed to view in DealPoint
      operationId: getUsers
      parameters:
      - name: userName
        in: query
        description: (part of the) name of the user
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: email
        in: query
        description: email the user
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: phoneNumber
        in: query
        description: phoneNumber of the user
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: status
        in: query
        description: 'Status of the user [todo: conver to enum]'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip before starting to collect the result
          set.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return.
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: sorting order of the result set
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: userName
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Overview of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userList'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
    post:
      tags:
      - User
      summary: 'Adds a new user to DealPoint. '
      operationId: createUser
      parameters:
      - name: x-system-caller
        in: header
[...]
