openapi: 3.0.0
info:
  title: DealPoint Public API
  description: Public API allowing access to DealPoint.
  contact:
    name: Roelof Hoogenberg
    email: roelof@bxfin.com
  version: 0.1.0
servers:
- url: https://api.bxfin.com/api/v0.1
  description: Optional server description, e.g. Main (production) server
- url: https://staging-api.example.com/api/v0.1
  description: Optional server description, e.g. Internal staging server for testing
security:
- BasicAuth: []
- ApiKeyAuth: []
paths:
  /relationship:
    get:
      tags:
      - Relationship
      summary: Retrieve all relationships the actor is allowed to view in DealPoint
      operationId: getRelationships
      parameters:
      - name: relationship_id
        in: query
        description: relationship identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: outer_customer_id
        in: query
        description: Customer id as externally known
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: relationship_name
        in: query
        description: (part of the) name of the relationship (client)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: status
        in: query
        description: 'Status of the relationship [todo: conver to enum]'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip before starting to collect the result
          set.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return.
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: sorting order of the result set
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: OuterRelationshipId
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Overview of relationships the actor is allowed to view
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationshipList'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Relationship
      summary: Adds a new relationship to DealPoint.
      operationId: createRelationship
      parameters:
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/relationship'
        required: true
      responses:
        "201":
          description: relationship id (key)
          headers:
            EntityId:
              $ref: '#/components/schemas/EntityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /relationship/{id}:
    get:
      tags:
      - Relationship
      summary: Retrieve a specific relationship the actor is allowed to view from
        DealPoint.
      operationId: getRelationship
      parameters:
      - name: id
        in: path
        description: relationship identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: relationship details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationshipDetails'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: relationship-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Relationship
      summary: Deletes the relationship from the system.
      operationId: deleteRelationship
      parameters:
      - name: id
        in: path
        description: relationship identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: No content
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: Relationship-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
      - Relationship
      summary: Updates the relationship with new values.
      operationId: updateRelationship
      parameters:
      - name: id
        in: path
        description: relationship identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/relationship'
        required: true
      responses:
        "204":
          description: relationship id (key)
          headers:
            EntityId:
              $ref: '#/components/schemas/EntityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: Relationship-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /relationship/{id}/profitability:
    get:
      tags:
      - Relationship
      summary: Retrieves Relationship profitability. If required, (Re)Calculate Relationship
        profitability
      operationId: getRelationshipCalculation
      parameters:
      - name: id
        in: path
        description: relationship identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: relationship details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relationshipProfitability'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: relationship-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deal:
    get:
      tags:
      - Deal
      summary: Retrieve all deals the actor is allowed to view in DealPoint
      operationId: getDeals
      parameters:
      - name: relationship_id
        in: query
        description: relationship identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: relationship_name
        in: query
        description: (part of the) name of the relationship
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: status
        in: query
        description: 'Status of the deal [todo: conver to enum]'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip before starting to collect the result
          set.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return.
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: sorting order of the result set
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: OuterDealId
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Overview of deals the actor is allowed to view
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dealList'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Deal
      summary: Adds a new  Deal to the relationship in  DealPoint. A Deal consist
        of the deal, one or more products and the relationship.
      operationId: createDeal
      parameters:
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deal'
        required: true
      responses:
        "201":
          description: Deal id (key)
          headers:
            EntityId:
              $ref: '#/components/schemas/EntityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deal/{id}:
    get:
      tags:
      - Deal
      summary: Retrieve a specific deal the actor is allowed to view from DealPoint.
        A Deal consist of one or more products, a deal-team and the relationship.
      operationId: getDeal
      parameters:
      - name: id
        in: path
        description: Deal identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Deal details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dealDetails'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: Deal-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Deal
      summary: Deletes the deal from the system.
      operationId: deleteDeal
      parameters:
      - name: id
        in: path
        description: deal identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: No content
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: Deal-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
      - Deal
      summary: Updates the deal with new values.
      operationId: updateDeal
      parameters:
      - name: id
        in: path
        description: Deal identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deal'
        required: true
      responses:
        "204":
          description: Deal id (key)
          headers:
            EntityId:
              $ref: '#/components/schemas/EntityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: Deal-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deal/{id}/profitability:
    get:
      tags:
      - Deal
      summary: Retrieves Deal profitability. If required, (Re)Calculate Deal profitability
      operationId: getDealCalculation
      parameters:
      - name: id
        in: path
        description: deal identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Deal profitability and regulatory capital requirements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dealProfitability'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: deal-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /scenario:
    get:
      tags:
      - Scenario
      summary: Retrieve all Scenarios the actor is allowed to view in DealPoint
      operationId: getScenarios
      parameters:
      - name: deal_id
        in: query
        description: deal identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: relationship_name
        in: query
        description: (part of the) name of the relationship
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: status
        in: query
        description: 'Status of the scenario [todo: conver to enum]'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip before starting to collect the result
          set.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return.
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: sorting order of the result set
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: OuterDealId
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Overview of scenarios the actor is allowed to view
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scenarioList'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Scenario
      summary: 'Adds a new Scenario to the deal in DealPoint. '
      operationId: createScenario
      parameters:
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/scenario'
        required: true
      responses:
        "201":
          description: Deal id (key)
          headers:
            EntityId:
              $ref: '#/components/schemas/EntityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /scenario/{id}:
    get:
      tags:
      - Scenario
      summary: Retrieve a specific scenario the actor is allowed to view from DealPoint.
      operationId: getScenario
      parameters:
      - name: id
        in: path
        description: Scenario identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Scenario details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scenarioDetails'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: Scenario-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Scenario
      summary: Deletes the Scenario from the system.
      operationId: deleteScenario
      parameters:
      - name: id
        in: path
        description: Scenario identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: No content
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: Scenario-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
      - Scenario
      summary: Updates the Scenario with new values.
      operationId: updateScenario
      parameters:
      - name: id
        in: path
        description: Scenario identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/scenario'
        required: true
      responses:
        "204":
          description: Scenario id (key)
          headers:
            EntityId:
              $ref: '#/components/schemas/EntityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: Deal-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /scenario/{id}/profitability:
    get:
      tags:
      - Deal
      summary: Retrieves Scenario profitability. If required, (Re)Calculate Scenario
        profitability
      operationId: getScenarioCalculation
      parameters:
      - name: id
        in: path
        description: scenario identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Scenario profitability and regulatory capital requirements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scenarioProfitability'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: scenario-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /counterparty:
    get:
      tags:
      - Counterparty
      summary: Retrieve all counterparties the actor is allowed to view in DealPoint
      operationId: getCounterparties
      parameters:
      - name: scenario_id
        in: query
        description: Scenario identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: deal_id
        in: query
        description: Deal identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: counterparty_id
        in: query
        description: relationship identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: outer_customer_id
        in: query
        description: Customer id as externally known
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: counterparty_name
        in: query
        description: (part of the) name of the counterparty (client)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: status
        in: query
        description: 'Status of the counterparty [todo: conver to enum]'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip before starting to collect the result
          set.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return.
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: sorting order of the result set
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: OuterRelationshipId
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Overview of counterparties the actor is allowed to view
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/counterpartyList'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Counterparty
      summary: 'Adds a new counterparty to DealPoint. '
      operationId: createCounterparty
      parameters:
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/counterparty'
        required: true
      responses:
        "201":
          description: counterparty id (key)
          headers:
            EntityId:
              $ref: '#/components/schemas/EntityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /counterparty/{id}:
    get:
      tags:
      - Counterparty
      summary: Retrieve a specific counterparty the actor is allowed to view from
        DealPoint.
      operationId: getCounterparty
      parameters:
      - name: id
        in: path
        description: counterparty identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: counterparty details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/counterpartyDetails'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: counterparty-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Counterparty
      summary: Deletes the relationship from the system.
      operationId: deleteCounterparty
      parameters:
      - name: id
        in: path
        description: counterparty identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: No content
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: Counterparty-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
      - Counterparty
      summary: Updates the relationship with new values.
      operationId: updateCounterparty
      parameters:
      - name: id
        in: path
        description: counterparty identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/counterparty'
        required: true
      responses:
        "204":
          description: relationship id (key)
          headers:
            EntityId:
              $ref: '#/components/schemas/EntityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: counterparty-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /counterparty/{id}/profitability:
    get:
      tags:
      - Deal
      summary: Retrieves Counterparty profitability. If required, (Re)Calculate Counterparty
        profitability
      operationId: getCounterpartyCalculation
      parameters:
      - name: id
        in: path
        description: counterparty identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Scenario profitability and regulatory capital requirements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/counterpartyProfitability'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: counterparty-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /product:
    get:
      tags:
      - Product
      summary: Retrieve all products the actor is allowed to view in DealPoint
      operationId: getProducts
      parameters:
      - name: scenario_id
        in: query
        description: Scenario identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: deal_id
        in: query
        description: Deal identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: counterparty_id
        in: query
        description: relationship identifier
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: outer_customer_id
        in: query
        description: Customer id as externally known
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: counterparty_name
        in: query
        description: (part of the) name of the counterparty (client)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: status
        in: query
        description: 'Status of the product [todo: conver to enum]'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip before starting to collect the result
          set.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return.
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: sorting order of the result set
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: OuterRelationshipId
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Overview of products the actor is allowed to view
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productList'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Product
      summary: 'Adds a new product to DealPoint. '
      operationId: createProduct
      parameters:
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product'
        required: true
      responses:
        "201":
          description: product id (key)
          headers:
            EntityId:
              $ref: '#/components/schemas/EntityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /product/{id}:
    get:
      tags:
      - Product
      summary: Retrieve a specific product the actor is allowed to view from DealPoint.
      operationId: getProduct
      parameters:
      - name: id
        in: path
        description: product identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productDetails'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: product-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Product
      summary: Deletes the product from the system.
      operationId: deleteProduct
      parameters:
      - name: id
        in: path
        description: product identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: No content
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: product-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
      - Product
      summary: Updates the relationship with new values.
      operationId: updateproduct
      parameters:
      - name: id
        in: path
        description: product identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product'
        required: true
      responses:
        "204":
          description: product id (key)
          headers:
            EntityId:
              $ref: '#/components/schemas/EntityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: product-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /product/{id}/profitability:
    get:
      tags:
      - Product
      summary: Retrieves Product profitability. If required, (Re)Calculate Product
        profitability
      operationId: getProductCalculation
      parameters:
      - name: id
        in: path
        description: product identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recalculate
        in: query
        description: Recalculate the risk and profitability.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Scenario profitability and regulatory capital requirements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productProfitability'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: product-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /usercontext:
    get:
      tags:
      - User
      summary: Based on Username, email, phonenumber or external context id,  the
        UserId is retrieved from DealPoint (exact match search)
      operationId: getUserContext
      parameters:
      - name: user_name
        in: query
        description: (part of the) name of the user
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: email
        in: query
        description: Email the user
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: phone_number
        in: query
        description: PhoneNumber of the user
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: user details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userContext'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: User not found
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /user:
    get:
      tags:
      - User
      summary: Retrieve all users the actor is allowed to view in DealPoint
      operationId: getUsers
      parameters:
      - name: user_name
        in: query
        description: (part of the) name of the user
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: email
        in: query
        description: Email the user
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: phone_number
        in: query
        description: PhoneNumber of the user
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: status
        in: query
        description: 'Status of the user [todo: conver to enum]'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip before starting to collect the result
          set.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          default: 0
      - name: limit
        in: query
        description: The number of items to return.
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 20
      - name: sort
        in: query
        description: sorting order of the result set
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: UserName
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Overview of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userList'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - User
      summary: 'Adds a new user to DealPoint. '
      operationId: createUser
      parameters:
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user'
        required: true
      responses:
        "201":
          description: user id (key)
          headers:
            EntityId:
              $ref: '#/components/schemas/EntityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: User-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /user/{id}:
    get:
      tags:
      - User
      summary: Retrieve a specific user from DealPoint.
      operationId: getUser
      parameters:
      - name: id
        in: path
        description: user identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights'
        "404":
          description: user-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - User
      summary: Deletes the user from the system.
      operationId: deleteUser
      parameters:
      - name: id
        in: path
        description: user identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: No content
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: User-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
      - User
      summary: Updates the user with new values.
      operationId: updateUser
      parameters:
      - name: id
        in: path
        description: user identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: x-system-caller
        in: header
        description: Identification of the calling application.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: x-dpx-actor-id
        in: header
        description: Identification of the end-user (DPX internal id).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user'
        required: true
      responses:
        "204":
          description: user id (key)
          headers:
            EntityId:
              $ref: '#/components/schemas/EntityId'
        "400":
          description: Invalid input value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: |-
            Unauthorized, expect this for the following types of errors
            - BadAuthTicket
            - ExpiredAuthTicket
            - InsufficientAuthTicket
            - InvalidAuthTicket
            - InvalidUserAuth
            - RequestIsNotAuthenticated
            - TamperedAuthTicket
            - UnauthorizedAccess
            - UnManagedInvalidSecurityPrincipal
        "403":
          description: |-
            Forbidden, expect this for the following types of errors
            - AccessDenied
            - AttributePermissionReadIsMissing
            - AttributePermissionUpdateIsMissingDuringUpdate
            - AttributePrivilegeCreateIsMissing
            - InvalidAccessRights
        "404":
          description: User-id not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Code:
      type: string
      description: Code of the item
      example: CodeX
    EntityId:
      type: string
      description: fully qualified id of created entity
      example: '[Organization URI]/api/deal/v1.0/7eb682f1-ca75-e511-80d4-00155d2a68d1'
    id:
      type: string
      description: Unique Id Generated by DPX
      example: 95b608ef-e1e8-e811-8111-001dd8b80c9b
    OuterDealId:
      type: string
      description: Unique Bank Id for Deal, typically mapped to relationship's system
        OpportunityId (for integration)
      example: 95b608ef-e1e8-e811-8111-001dd8b80c9b
    OuterScenarioId:
      type: string
      description: Unique Bank Id for Deal, typically mapped to scenarioId (for integration)
      example: 95b608ef-e1e8-e811-8111-001dd8b80c9b
    OuterCustomerId:
      type: string
      description: Unique Bank Id for Relationship (for integration)
      example: relationshipABC
    OuterProductId:
      type: string
      description: Unique Bank Id for borrowing entity (for integration)
      example: relationshipABC
    ClientTypeCode:
      type: string
      description: Type of relationship (Code)
      example: WSL
    BookingStateLocationCode:
      type: string
      description: State where Relationship is based (code)
      example: LDN
    CurrencyCode:
      type: string
      description: Currency Code
      example: EUR
    Exposure:
      type: number
      description: Exposure of the Enity
      example: 1234533.22
    Name:
      type: string
      description: Name of entity
      example: EntityName
    Description:
      type: string
      description: Description of entity
      example: '....'
    LGDCode:
      type: string
      description: Loss Given Default (Code)
      example: 30%
    PDCode:
      type: string
      description: Probability Default (Code)
      example: AF6
    StatusCode:
      type: string
      description: Status of the object (Code)
      example: OPN
    StatusDate:
      type: string
      description: Deal Status Date (generated by DPX)
      example: 2017-07-21T17:32:28Z
    Syndicated:
      type: boolean
      description: Flag/checkbox to indicate Syndication Deal, financing offered by
        group of lenders
      example: true
    SensitivityCode:
      type: string
      description: Non-NDA or NDA
      example: Non-NDA
      enum:
      - Non-NDA
      - NDA
    IsSecure:
      type: boolean
      description: Flag/checkbox to indicate Secured deal
      example: true
    RegionCode:
      type: string
      description: Region of the relationship/Deal (Code)
      example: EU
    CountryCode:
      type: string
      description: Location where deal is being booked (Code)
      example: UK
    ZipCode:
      type: string
      description: Zip code information
      example: 1234 AB
    RMId:
      type: string
      description: Unique Id of RM
      example: 1233445-3333
    OuterRMId:
      type: string
      description: Unique Id for RM provided by the Bank (for integration)
      example: John@bank.com
    RMName:
      type: string
      description: RM with point of control Deal
      example: John Doe
    RMEmail:
      type: string
      description: Unique email Id of RM
      example: John@bank.com
    CreditRatingTypeCode:
      type: string
      description: Credit Rating Type (external or internal to Bank), Code
      example: INT
    CreditRatingCode:
      type: string
      description: Risk grade (combination of PD and LGD), Code
      example: R11
    DivisionCode:
      type: string
      description: Division of bank
      example: WHS
    BusinessSegmentCode:
      type: string
      description: Segment of Business line (Code)
      example: Dept. A
    BusinessUnitCode:
      type: string
      description: Business Unit of RM (Code)
      example: LPG
    CapitalClassCode:
      type: string
      description: Capital Classification (Code)
      example: CC-1
    IndustryCategoryCode:
      type: string
      description: Primary Industry of Deal (Code)
      example: "123"
    IndustryCode:
      type: string
      description: Industry (Code)
      example: "321"
    PricingEventTypeCode:
      type: string
      description: Pricing event type - New, Existing (Imported), Refinance and Repricing
      example: Existing (Imported)
      enum:
      - New
      - Existing (Imported)
      - Refinance
      - Repricing
    PricingEventCode:
      type: string
      description: Pricing event type - New, Existing (Imported), Refinance and Repricing
      example: New
    Notes:
      type: string
      description: Free-text with ability to include rich text and attach images/documents
      example: Any text
    Hurdle:
      type: number
      description: Deal Hurdle for RARoC or ROE or Revenue or NIM
      example: 0.22
    Target:
      type: number
      description: Deal Target for RARoC or ROE or Revenue or NIM
      example: 0.234
    ClientAttribute...:
      type: string
      description: Client specific attributes.
      example: Client defined value...
    UserName:
      type: string
      description: User name (used for logon)
      example: Ron@ClientA.com
    FullName:
      type: string
      description: Full username
      example: Ron Bakerson
    Email:
      type: string
      description: Email adress
      example: a@b.com
    PhoneNumber:
      type: string
      description: Phonenumber of entity
      example: +31623123435
    Disable:
      type: boolean
      description: Flag/checkbox to indicate disabled user
      example: true
    Term:
      type: number
      description: Tenor of product
[...]
